**/__pycache__
*.pyc
*.pyo
*.pyd
.Python
**/env
**/venv
**/pip-log.txt
**/pip-delete-this-directory.txt
**/.tox
**/.coverage
**/.coverage.*
**/.cache
**/nosetests.xml
**/coverage.xml
**/*,cover
**/*.log
**/.classpath
**/.dockerignore
**/.env
**/.env.dist
**/.git
**/.gitignore
**/.idea
**/.vscode
**/charts
**/docs
**/docker-compose*
**/Dockerfile*
readme.md
**/work
**/sample.json
**/docker-compose.local.yml
**/.idea
**/.github
**/compose